<link href='//fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>

<style>
  .header-text{
    font-family:Londrina Solid;
    color:red;
    font-size:30px;
  }
</style>

<h1 class="header-text">SMS app </h1>
<form action="/submit">
  <input type="text" required placeholder="enter phone number">
  <button type="submit">Submit </button>
</form>